<div class="benefits">
  <h2>Benefits</h2>
  <div class="benefits-row">
    <div class="benefits-item">
      <img
        src="{{ site.baseurl }}/assets/images/inventory.svg"
        alt=""
        srcset=""
      />
      <p><strong>No need to manage inventory.</strong></p>
    </div>
    <div class="benefits-item">
      <img src="{{ site.baseurl }}/assets/images/nearby.svg" alt="" srcset="" />
      <p><strong>Products Located Nearby.</strong></p>
    </div>
    <div class="benefits-item">
      <img
        src="{{ site.baseurl }}/assets/images/quality.svg"
        alt=""
        srcset=""
      />
      <p><strong>High Quality Products.</strong></p>
    </div>
    <div class="benefits-item">
      <img
        src="{{ site.baseurl }}/assets/images/invoice.svg"
        alt=""
        srcset=""
      />
      <p><strong>Custom Invoicing.</strong></p>
    </div>
  </div>
</div>
