<footer>
    <div class="left-content">
        <img class="footer-logo" src="{{ site.baseurl }}/assets/images/stackfeed-logo-color.svg" alt="" srcset=""/>
        <p>StackFeed Allows you to find products located in México and North America and easily import them into your Shopify store.</p>
        <div class="social-links">
            <a class="social-link twitter" href=""></a>
            <a class="social-link facebook" href=""></a>
            <a class="social-link instagram" href=""></a>
            <a class="social-link youtube" href=""></a>
        </div>
    </div>
    <div class="right-content">
        <div class="links-column">
            <p>
                <strong>StackFeed</strong>
            </p>
            <a class="btn-link" href="">For Suppliers</a>
            <a class="btn-link" href="">FAQ</a>
            <a class="btn-link" href="">Contact</a>
            <a class="btn-link" href="">Press</a>
        </div>
        <div class="links-column">
            <p>
                <strong>Resources</strong>
            </p>
            <a class="btn-link" href="">Blog</a>
        </div>
    </div>
</footer>