<div class="how-it-works">
  <h2>How it works</h2>
  <div class="how-it-works-row">
    <div class="how-it-works-item">
      <img src="{{ site.baseurl }}/assets/images/cloud.svg" alt="" srcset="" />
      <p><strong>1. Connect StackFeed to Shopify.</strong></p>
    </div>
    <div class="how-it-works-item">
      <img src="{{ site.baseurl }}/assets/images/import.svg" alt="" srcset="" />
      <p><strong>2. Find and import products to your store</strong></p>
    </div>
    <div class="how-it-works-item">
      <img
        src="{{ site.baseurl }}/assets/images/fulfill.svg"
        alt=""
        srcset=""
      />
      <p><strong>3. Fulfill your orders with StackFeed</strong></p>
    </div>
    <div class="how-it-works-item">
      <img src="{{ site.baseurl }}/assets/images/grow.svg" alt="" srcset="" />
      <p><strong>4. Grow your business.</strong></p>
    </div>
  </div>
</div>
