<div class="testimonials">
  <h2>What store owners say</h2>
  <div class="testimonials-row">
    <div class="talk-bubble tri-right border round btm-left-in">
      <div class="talktext">
        <p>
          Now we add a border and it looks like a comic. Uses .border .round and
          .btm-left-in
        </p>
      </div>
    </div>
    <div class="testimonial-item">
      <div class="testimonial-dialog">
        <p>
          <strong
            >"StackFeed enabled me to make $178, 492 from the comfort of my
            home."</strong
          >
        </p>
      </div>
      <div class="testimonial-client">
        <img src="" alt="" />
        <div class="testimonial-client-info">
          <p><strong>Austin Cesar</strong></p>
          <p>ThemeTags</p>
        </div>
      </div>
    </div>
    <div class="testimonial-item">
      <div class="testimonial-dialog sb">
        <p>
          <strong
            >"Dropshipping with StackFeed was incredibly simple as
            well."</strong
          >
        </p>
      </div>
      <div class="testimonial-client">
        <img src="" alt="" />
        <div class="testimonial-client-info">
          <p><strong>Pirle Karol</strong></p>
          <p>ThemeTags</p>
        </div>
      </div>
    </div>
    <div class="testimonial-item">
      <div class="testimonial-dialog">
        <p>
          <strong
            >"It's a great advantage to have the products located
            nearby."</strong
          >
        </p>
      </div>
      <div class="testimonial-client">
        <img src="" alt="" />
        <div class="testimonial-client-info">
          <p><strong>Aminul Islam</strong></p>
          <p>ThemeTags</p>
        </div>
      </div>
    </div>
  </div>
</div>
