@import 'colors.sass'

.topbar
    align-items: center
    display: flex
    justify-content: space-between
    padding: 1em 3em
    width: 100%
    .btn-link
        margin-left: .5em
    .btn-action
        margin-left: .5em

.cover
    align-items: center
    display: flex
    padding: 6em 8em 8em 8em
    width: 100%
    .left-content
        align-items: flex-start
        display: flex
        flex-flow: column
        padding-right: 25%
        h1
            color: white
            margin-bottom: 1em
        p
            margin-bottom: 3em

    .right-content
        width: 50%

.how-it-works
    background-color: #fff
    display: flex
    flex-flow: column
    padding: 10em 8em 4em 8em
    width: 100%
    .how-it-works-row
        align-items: center
        display: flex
        justify-content: space-between
        margin-top: 5em
        .how-it-works-item
            align-items: center
            display: flex
            flex-flow: column
            justify-content: center
            text-align: center
            width: 15em
            img
                margin-bottom: 2em

.benefits
    background-color: #fff
    background-image: url('../../assets/images/benefits-bg.svg')
    background-position: 0 0
    background-repeat: no-repeat
    background-size: 100%
    display: flex
    flex-flow: column
    padding: 20em 8em 8em 8em
    width: 100%
    h2
        text-align: center
        width: 100%
    .benefits-row
        display: flex
        justify-content: space-between
        margin-top: 5em
        .benefits-item
            align-items: center
            background-color: #fff
            border-radius: .3em
            border-top: solid .4em $primary
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
            display: flex
            flex-flow: column
            justify-content: center
            padding: 1.5em
            text-align: center
            width: 15em
            img
                margin-bottom: 2em

.testimonials
    background-color: $light
    border-top: solid .1em $dark
    display: flex
    flex-flow: column
    padding: 8em 8em 8em 8em
    width: 100%
    h2
        text-align: center
        width: 100%
    .testimonials-row
        align-items: center
        display: flex
        justify-content: space-between
        margin-top: 5em
        .testimonial-dialog
            align-items: center
            background-color: #fff
            border-radius: .3em
            color: $gray
            display: flex
            flex-flow: column
            justify-content: center
            text-align: center
            padding: 1.5em
            width: 20em

        .talk-bubble
            border-radius: .3em
            margin: 40px
            display: inline-block
            position: relative
            padding: 1.5em
            width: 20em
            height: auto
            background-color: white

        /*Right triangle, placed bottom left side slightly in*/
        .tri-right.border.btm-left-in:before
            content: ' '
            position: absolute
            width: 0
            height: 0
            left: 30px
            right: auto
            top: auto
            bottom: -40px
            border: 20px solid
            border-color: $light transparent transparent $light

        .tri-right.btm-left-in:after
            content: ' '
            position: absolute
            width: 0
            height: 0
            left: 38px
            right: auto
            top: auto
            bottom: -20px
            border: 12px solid
            border-color: white transparent transparent white

    img
        margin-bottom: 2em
